@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

@layer base {
  :root {
    --gradient: #ffb100;

    --background: 44 65% 4%;
    --foreground: 44 10% 97.5%;

    --muted: 44 37% 9.5%;
    --muted-foreground: 44 10% 55%;

    --popover: 44 45% 6.5%;
    --popover-foreground: 44 10% 97.5%;

    --card: 44 45% 6.5%;
    --card-foreground: 44 10% 97.5%;

    --border: 44 37% 9.5%;
    --input: 44 37% 9.5%;

    --primary: 44 100% 50%;
    --primary-foreground: 44 10% 5%;

    --secondary: 44 37% 9.5%;
    --secondary-foreground: 44 10% 97.5%;

    --accent: 44 37% 9.5%;
    --accent-foreground: 44 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 44 10% 97.5%;

    --ring: 44 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(129deg, #ffb100 0%, #ffda44 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .primary-gradient {
    background: -webkit-linear-gradient(#ffb100, #f1d666);
    background: -moz-linear-gradient(#ffb100, #f1d666);
    background: -o-linear-gradient(#ffb100, #f1d666);
    background: linear-gradient(#ffb100, #f1d666);

    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;

    background-size: 1px 200px;
    cursor: pointer;
  }
  .primary-gradient:hover {
    background-position: 50px;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply h-8 rounded-none border-none  bg-transparent outline-none ring-offset-0 focus:ring-1  focus:ring-primary-yellow focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-white !important;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-primary-grey-200 !important;
  }
  .transition-ease {
    @apply transition ease-in-out duration-500 !important;
  }
}
